[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
arrow = "*"
mypy = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"
bandit = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
